﻿<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="pragma" content="no-cache" />
    <title></title>
    <link href="~/Content/ng-grid.css" rel="stylesheet" /> 

    <script src="~/Scripts/jquery-1.9.1.js"></script>
    <script src="~/Scripts/jquery-ui-1.9.1.custom.min.js"></script>
    <script src="~/Scripts/angular.js"></script>
    <script src="~/Scripts/bootstrap.js"></script>
    <script src="~/Scripts/ng-grid.debug.js"></script>
    <script src="~/Scripts/ng-grid-reorderable.js"></script>   
    <script src="~/EmployeeSearch/controller.js"></script>   

</head>
<body ng-app="myApp" ng-controller="ngGridController" class="container">
    <div id="appEmployeeList">
        <label class="lbldata" id="blFilter">Search: </label><input type="text" placeholder="Filter..." ng-model="filterOptions.filterText" />
      
        <div id="blGrid" ng-grid="employeeDetailsGrid" style="width: 1200px; height: 400px;"></div>
        <label class="lbldata" id="totalRecs">Records: {{ totalRecords }}</label>
    </div>
    <br />
    <br />
    <br /> 

</body>
</html>
